<div class="photos" *ngIf="(selectedService.selectedIndex > 1) || selectedService.loaded">
  <img src="assets/photo/news/parking.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/news/astro.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/news/takozh.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/news/agnia.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/news/cutda.jpg" alt="" importance="low" class="photos__pic padded-light">
</div>
