<div class="photos" *ngIf="(selectedService.selectedIndex > 1) || selectedService.loaded">
  <img src="assets/photo/studio/0.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/1.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/2.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/3.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/4.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/5.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/6.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/7.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/8.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/9.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/10.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/11.jpg" alt="" importance="low" class="photos__pic padded-light">
  <img src="assets/photo/studio/12.jpg" alt="" importance="low" class="photos__pic padded-light">
</div>
