<div class="contacts padded">
  <h2 class="contacts-title">Координаты</h2>

  Находимся на ул. Литейной, 10, в здании Консерватории им. Глинки. Удобно добираться по набережной на маршрутках, идущих в сторону ж/м Победы.
  Телефоны и Телеграм студии: 0987991330, 0661303901
  E-Mail: reparkingdnepr@gmail.com
  Instagram: @reparking__studio
  Facebook: @parkingstudio

</div>
<iframe class="map"
        title="base"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d393.2638669659448!2d35.06013804658564!3d48.46509769468209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2c45e26c1b5%3A0xa12d0f268bc02908!2sLyvarna%20St%2C%2010%2C%20Dnipropetrovs&#39;k%2C%20Dnipropetrovs&#39;ka%20oblast%2C%2049000!5e0!3m2!1sen!2sua!4v1574981427424!5m2!1sen!2sua"
        frameborder="0"
        style="border:0"
        allowfullscreen>
</iframe>
