<div class="tools">
  <h3 class="tools__title">Текущие Акции:</h3>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">"Диллер"</span>
    <li class="tools-list__item">Приведи 3 людей/групп и получи подарочный сертификат -10% на репетиции, действующий целый месяц!</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">"Шаровик"</span>
    <li class="tools-list__item">Запишись на любой урок и посети одно пробное занятие абсолютно бесплатно.</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">"Задрот"</span>
    <li class="tools-list__item">Покупай абонемент на 15 двухчасовых репетиций и получай 16-ю репетицию в подарок</li>
  </ul>
</div>
