<div class="header-info">
  <div class="header-logo" title="Лучший выбор. Звукозапись в Днепропетровске и области. ReParking Sound Base">
    <img class="header-logo__pic" src="assets/img/base1.jpg" alt="logo" (click)="goToMain()">
    <h1 class="header-title" (click)="goToMain()"><span class="header-title__start">ReParking</span> Sound Base</h1>
    <span class="header-slogan header-slogan--logo">живи в собственном ритме и размере</span>
  </div>
  <div class="header-slogan header-slogan--main">
    тут нужен самый лучший в мире слоган про нас
  </div>
</div>
