.header-info {
  height: 100%;
  display: flex;
  letter-spacing: 2.5px;
}
.header-logo {
  font-weight: 200;

  &__pic {
    height: auto;
    border-radius: 50px;
  }
}
.header-title {
  font-style: italic;
  margin-bottom: 15px;
}
.header-slogan {
  margin-left: 40px;

  &--logo {
    color: #eee;
    text-shadow: 1px 1px 1px #0c138b;
  }
  &--main {
    width: max-content;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 900;
    margin: auto 10% auto auto;
    color: #000;
    text-shadow: 1px 1px 2px #fff, 1px 1px 2px #000, 1px 1px 2px #fff;
  }
}
