<div class="tools">
  <ul class="tools-list padded-light">
    <span class="tools-list__title">Оборудование:</span>
    <li class="tools-list__item">Бас-гитара Iris bass</li>
    <li class="tools-list__item">Басовый комбик Laney</li>
    <li class="tools-list__item">Гитарный комбик Ibanez Troubadour</li>
    <li class="tools-list__item">Гитарный комбик Fender Champion</li>
    <li class="tools-list__item">Вокальная система JBL </li>
    <li class="tools-list__item">Микшерный пульт SoundCraft</li>
    <li class="tools-list__item">Гитарный комбик Line 6</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">Микрофоны:</span>
    <li class="tools-list__item">Динамический Shure SM48S</li>
    <li class="tools-list__item">Динамический Dap PL-08</li>
    <li class="tools-list__item">AKG DrumSet Session I</li>
    <li class="tools-list__item">Конденсаторный Samson C01</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">Акустика:</span>
    <li class="tools-list__item">Акустическая гитара</li>
    <li class="tools-list__item">Барабаны Джембе</li>
    <li class="tools-list__item">Губная гармошка</li>
    <li class="tools-list__item">Шейкеры</li>
    <li class="tools-list__item">Тамбурин</li>
    <li class="tools-list__item">Маракасы</li>
    <li class="tools-list__item">Cowbell</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">Мониторинг:</span>
    <li class="tools-list__item">Наушники AKG K52</li>
    <li class="tools-list__item">Мониторы ближнего поля Yamaha MSP5</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">Аудио-миди интерфейс:</span>
    <li class="tools-list__item">Звуковая карта Tascam 1800-US</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">Коммутация:</span>
    <li class="tools-list__item">Red's Music</li>
    <li class="tools-list__item">DAP</li>
    <li class="tools-list__item">SoundKing</li>
  </ul>

  <ul class="tools-list padded-light">
    <span class="tools-list__title">Клавиши:</span>
    <li class="tools-list__item">Yamaha psr R300</li>
  </ul>
</div>

