.main-music {
  &__start {
    font-weight: bold;
    font-style: italic;
    margin-right: 10px;
    &--next {
      cursor: pointer;
    }
  }
  display: flex;
  //color: #707070;
  line-height: 40px;
  letter-spacing: 2px;
}
