<p class="main-music padded">
  <span class="main-music__start"> Музыка </span> - это нечто большее, чем хобби или занятие на пару часов. Через музыку мы выражаем свои чувства, эмоции, доносим важные мысли или заставляем окружающих раствориться в мелодии...
</p>
<p class="main-music padded">
  <span class="main-music__start main-music__start--next" (click)="goToStudio()"> ReParking </span>
  - это нечто большее, чем просто репетиционная и студия звукозаписи. Мы стараемся создать для вас комфортные условия, чтобы заниматься и творить было легче! А тем, кому еще не довелось прикоснуться к чудесному миру музыки, помогут наши искусные преподаватели.
</p>
