<div class="price">
  <ag-grid-angular
    *ngIf="selectedService.selectedIndex === tablesViewIndex"
    style="width: 70%;"
    class="ag-theme-balham service"
    (gridReady)="onGridReady($event)"
    [rowData]="rowData1"
    [columnDefs]="columnDefs1"
    [defaultColDef]="defaultColDef"
    [domLayout]="domLayout"
    [animateRows]="true"
    [getRowHeight]="getRowHeight"
    [suppressRowTransform]="true"
    [modules]="modules">
  </ag-grid-angular>
  <ag-grid-angular
    *ngIf="selectedService.selectedIndex === tablesViewIndex"
    style="width: 25%;"
    class="ag-theme-balham lessons"
    [rowData]="rowData2"
    (gridReady)="onGridReady($event)"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs2"
    [modules]="modules">
  </ag-grid-angular>
</div>
