@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";

$color-first: #272121;
$color-second: #333335;
$color-third: #787c61;
$color-fourth: #dce0e9;
$color-fifth: #3f5c7c;

html, body {
  height: 100%;
  width: 100%
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", serif;
  background-color: $color-fourth;
  color: $color-first;
}
body > div {
  display: none !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}

.site {
  user-select: none;
}

.header {
  height: 20vh;
  min-height: 140px;
  background: url("~src/assets/img/base4.jpg") 50% 50%;
  background-size: cover;
  &-logo {
    position: absolute;
    top: 3vh;
    left: 5%;

    &__pic {
      width: 50px;
      border: 2px solid $color-fifth;
      box-shadow: 1px 1px 10px #aaa;
    }
  }

  &-title {
    color: $color-fifth;
    text-shadow: 1px 1px 1px #fff;

    &__start {
      //color: #fff;
      //text-shadow: 1px 1px 1px #0c138b;
    }
    //color: #0c138b;
    //text-shadow: 1px 1px 1px #fff;
    font-style: italic;
    margin-bottom: 15px;
  }
}

.padded {
  padding: 4% 17%;

  &-light {
    padding: 1% 5%;
  }
}

.mat-tab-label-content {
  color: $color-first;
}

.main-music,
.tools,
.contacts {
  line-height: 40px;
  letter-spacing: 2px;
}

.main-music {
  &__start {
    color: $color-second;
    &--next {
      color: $color-fifth;
    }
  }
  &__start,
  &__start--next {
    font-size: 30px;
  }
}

.tools {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &-list {
    &__title {
      font-weight: 500;
      font-size: 1.1rem;
    }
    list-style-type: circle;
    list-style-position: inside;
  }
}

.ag-theme-balham {
  padding: 15px;
}
.ag-cell,
.cell-wrap-text {
  white-space: normal !important;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__pic {
    width: 40%;
    height: auto;
  }
}

.map {
  cursor: pointer;
  width: 100%;
  height: 50vh;
}

@media all and (max-width: 1600px) {
  .header-slogan--main {
    text-align: right;
    max-width: 50%;
  }

}

@media all and (max-width: 1100px) {
  .padded {
    padding: 3% 10%;

    &-light {
      padding: 1% 4%;
    }
  }
  .header .header-slogan.header-slogan--main {
    margin: 30px 5% auto auto;
  }

  .header {
    .header-logo {
      position: fixed;
      top: 1vh;
      left: 1vw;
      z-index: 2;
      opacity: 0.8;

      &__pic {
        width: 40px;
        cursor: pointer;
      }
    }
    &-title {
      font-size: 1.5em;
      max-width: 40%;
      cursor: pointer;
    }
  }
}

@media all and (max-width: 980px) {
  .header {
    &-title {
      font-size: 1em;
    }
    .header-slogan.header-slogan--logo {
      font-size: 12px;
      margin-left: 0;
    }
    .header-slogan.header-slogan--main {
      font-size: 14px;
    }
  }
  .photos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    &__pic {
      width: 90%;
      height: auto;
    }
  }
  .main-music {
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 3px;

    &__start,
    &__start--next {
      margin-left: -15px;
      font-size: 18px;
      display: block;
    }
  }
  .price {
    flex-direction: column;
  }
  .ag-theme-balham {
    width: 90% !important;
  }
  .contacts-title {
    font-size: 1.1em;
    margin: 0;
  }
}
