<mat-tab-group dynamicHeight
               [selectedIndex]="selectedService.selectedIndex"
               (selectedIndexChange)="selectedService.setNewIndex($event)">
  <mat-tab label="Главная"> <app-main-content></app-main-content> </mat-tab>
  <mat-tab label="Оборудование"> <app-tools-conditions></app-tools-conditions> </mat-tab>
  <mat-tab label="Студия"> <app-portfolio></app-portfolio> </mat-tab>
  <mat-tab label="Услуги/Цены"> <app-price></app-price> </mat-tab>
  <mat-tab label="Контакты"> <app-contacts></app-contacts> </mat-tab>
  <mat-tab label="Новости"> <app-news></app-news> </mat-tab>
  <mat-tab label="Акции"> <app-promo></app-promo> </mat-tab>
  <mat-tab label="Портфолио">
    <app-slider
      *ngIf="(selectedService.selectedIndex === sliderViewIndex)"
      class="slider padded-light">
    </app-slider>
  </mat-tab>
  <mat-tab label="Наши Клиенты"> <app-clients></app-clients> </mat-tab>
  <mat-tab label="Подарки"> <app-presents></app-presents> </mat-tab>
</mat-tab-group>
